<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SolPowerTool.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SolPowerTool.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <SolPowerTool.App.Properties.Settings>
      <setting name="ShowDetails" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="SolutionFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedControlTab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedProjectsTab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CodeAnalysisRuleDirectories" serializeAs="String">
        <value />
      </setting>
      <setting name="CodeAnalysisRuleSetDirectories" serializeAs="String">
        <value />
      </setting>
      <setting name="CodeAnalysisModuleSuppressionsFile" serializeAs="String">
        <value>GlobalSuppressions.cs</value>
      </setting>
    </SolPowerTool.App.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SolPowerTool.App.Properties.Settings>
      <setting name="ModulesFolder" serializeAs="String">
        <value>Modules</value>
      </setting>
    </SolPowerTool.App.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
